*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav{
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
}
.menu-list ul{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.menu-list ul li{
    cursor: pointer;
    list-style: none;
}
.button-1 button{
    padding: 10px 20px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.button-1{
    display: flex;
    align-items: center;
}
.button-1 button:hover{
    background-color: #367c50;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin:auto;
    background: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}
.hero-section p:nth-child(1){
    font-size: 14px;
    color: #469165;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
}
.hero-section h1{
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.hero-section h1 span{
    color: #469165;
}
.hero-section p:nth-child(3){
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    width: 50%;
    line-height: 1.5;
}
.hero-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-buttons .button-2{
    padding: 10px 20px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.hero-buttons .button-2:hover{
    background-color: #367c50;
}

.hero-buttons .button-3{
    padding: 10px 20px;
    background-color: transparent;
    outline: 1px solid #469165;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.hero-buttons .button-3:hover{
    background-color: none;
    background-color: #469165;
}

.notes{
    margin: 50px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notes h1{
    font-size: 44px;
    color: #000000;
    font-weight: bold;
    margin-top: 80px;
}
.notes .cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    width: 80%;
}
.notes p{
    margin-top: 20px;
}
.cards .card{
    background-color: #ffffff;
    padding: 30px 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cards .card h2{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
}
.cards .card p{
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
    margin-top: 20px;
}
.card-icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icon img{
    width: 32px;
    height: 32px;
}

.solution-section{
    margin: 100px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.solution-section .big-image img{
    width: 600px;
    height: 600px;
    border-radius: 10px;
}
.points p:nth-child(1){
    margin-bottom: 20px;
    color: #469165;
}
.points h1{
    font-size: 44px;
    color: #000000;
    margin-bottom: 20px;
}
.points p{
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 30px;
}
.points .point-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.points h3{
    font-size: 16px;
    color: #000000;
    margin: 8px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.ready{
    background-color: #f3eedb;
    color: #000000;
    text-align: center;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 10px;
    align-items: center;
}
.ready h1{
    font-size: 44px;
    margin-bottom: 20px;
}
.ready p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #666666;
}
.ready button{
    padding: 15px 30px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.ready button:hover{
    background-color: #367c50;
}
.ready h3{
    font-size: 16px;
    color: #666666;
    font-weight: 400;
}
footer{
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    width: 100%;
    background-color: #001931;
    height: 350px;
}
footer .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding-top: 120px;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social .icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}
.social .icons i{
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: white;
    padding: auto 15px;
    border-radius: 50%;
    text-align: center;
}
footer hr{
    color: #666666;
    width: 80%;
    margin:50px auto;
}
.copyright{
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
}