*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav{
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
}
.menu-list ul{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.menu-list ul li{
    cursor: pointer;
    list-style: none;
}
.button-1 button{
    padding: 10px 20px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.button-1{
    display: flex;
    align-items: center;
}
.button-1 button:hover{
    background-color: #367c50;
}
