*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav{
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
}
.menu-list ul{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.menu-list ul li{
    cursor: pointer;
    list-style: none;
}
.button-1 button{
    padding: 10px 20px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.button-1{
    display: flex;
    align-items: center;
}
.button-1 button:hover{
    background-color: #367c50;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin:auto;
    background: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}
.hero-section p:nth-child(1){
    font-size: 14px;
    color: #469165;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
}
.hero-section h1{
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.hero-section h1 span{
    color: #469165;
}
.hero-section p:nth-child(3){
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    width: 50%;
    line-height: 1.5;
}
.hero-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-buttons .button-2{
    padding: 10px 20px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.hero-buttons .button-2:hover{
    background-color: #367c50;
}

.hero-buttons .button-3{
    padding: 10px 20px;
    background-color: transparent;
    outline: 1px solid #469165;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.hero-buttons .button-3:hover{
    background-color: none;
    background-color: #469165;
}